In [2]:
import pandas as pd

In [3]:
x = pd.read_csv("GRCh38.hipstr_reference_pre.bed", header=None, sep = "\t")
x['len'] = x[2] - x[1]

In [13]:
x[x['len'] > 100].to_csv("extra_long_repeats.bed", index=False, header=False, sep = "\t")

In [4]:
x[x['len'] > 100]

            0         1         2  3         4                  5       6  len
0        chr1     10001     10468  6   78.0000        Human_STR_1  AACCCT  467
18       chr1     54713     54817  4   26.2500       Human_STR_19    CTTT  104
22       chr1     66161     66630  2  235.0000       Human_STR_23      AT  469
29       chr1     83792     84041  4   62.5000       Human_STR_30    AAAG  249
91       chr1    180089    180998  6  151.6670  Human_STR_1619174  AACCCT  909
...       ...       ...       ... ..       ...                ...     ...  ...
1638784  chrY  56836718  56836900  5   36.6000  Human_STR_1619010   ATTCC  182
1638789  chrY  56858317  56858541  4   56.2500  Human_STR_1619015    AAAG  224
1638833  chrY  56954174  56954305  3   44.0000  Human_STR_1619059     AGG  131
1638936  chrY  57195379  57195970  2  296.0000  Human_STR_1619162      GT  591
1638943  chrY  57206370  57206736  6   61.1667  Human_STR_1619169  AGGGTC  366

[25653 rows x 8 columns]